global-exclude *.dylib
global-exclude *.py[cod]
global-exclude *.so
global-exclude __pycache__
include VERSION
recursive-include toil_cnacs *

# This is required for source distributions
include setup.json
